<footer class="site-footer">
  <div class="content-wrapper">
    <div class="col one-third">
      <h3>{{site.title}}</h3>
      <p>{{site.description}}</p>
    </div>
    <div class="col one-third">
      <p>Github Repository</p>

      <span style="color:#4099FF;">@jenningsanderson</span><br>

      <!-- <span class="">jenningsanderson</span> -->
    </div>
    <div class="col one-third">
      <p>This work is a collaboration among the following groups</p>
      <h4><a href="https://www.mmm.ucar.edu/communicating-hazard-information-modern-environment-chime">CHIME</a></h4>
      <h4><a href="http://www.colorado.edu">University of Colorado Boulder</a></h4>
      <h4><a href="http://epic.cs.colorado.edu">Project EPIC</a></h4>
    </div>

  </div>
</footer>
