<footer class="site-footer">
  <div class="content-wrapper">
    <div class="col one-third">
      <h3>{{site.title}}</h3>
    </div>
    <div class="col one-third">
      <p><a href="http://github.com/project-epic/Twitter-Movement-Derivation">Github Repository</a></p>

      <!-- <span class="">jenningsanderson</span> -->
    </div>
    <div class="col one-third">
      <p>This work is a collaboration among the following groups</p>
      <h4><a href="https://www.mmm.ucar.edu/communicating-hazard-information-modern-environment-chime">CHIME</a></h4>
      <h4><a href="http://epic.cs.colorado.edu">Project EPIC</a> at the <a href="http://www.colorado.edu">University of Colorado Boulder</a></h4>
    </div>

  </div>
</footer>
