body{
  margin:0;
  padding:0;
  font-family: $base-font-family;
}

a{
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

header{
  padding: 25px;
  background-color: #4099FF;
  color:#eee;
  height:150px;
}

h1.site-title{
  text-align:center;
  font-size:3em;
  padding:0;
  margin:50px auto;
}

.content-wrapper{
  width:80%;
  max-width:900px;
  min-width:500px;
  margin: 0 auto;
}

section.page-content{
  display:block;
  padding-top:50px;
}

.page-body{
  min-height:600px;
}

.post-list{
  list-style-type:none;
  margin:0;
  padding:0;
}

.post-item{
  margin-left:0;
  background-color:lightblue;
  padding: 20px;
}

h2.post-title{
  color:black;
}

h2.post-title a{
  color:black;
  text-decoration:none;
}

h2.post-title a:hover{
  text-decoration:overline underline
}


footer{
  padding-top:25px;
  display:block;
  clear:both;
  margin-bottom: 25px;

  h2{
    font-size:1.5em;
  }

  li{
    margin-top:10px;
  }
}

.col.one-third{
  vertical-align:text-top;
  width:32%;
  display:inline-block;
}
