body{
  font-family: $base-font-family;
}

header{
  padding: 25px;
  background-color: lightblue;
  color:#eee;
  height:100
}

h1.site-title{
  text-align:center;
}

.content-wrapper{
  width:80%;
  max-width:900px;
  min-width:500px;
  margin: 0 auto;
}

section.page-content{
  display:block;
}

.page-body{
  min-height:600px;
}

footer{
  padding-top:25px;
  display:block;
  clear:both;
  margin-bottom: 25px;

  h2{
    font-size:1.5em;
  }

  li{
    margin-top:10px;
  }
}

.col.one-third{
  vertical-align:text-top;
  width:32%;
  display:inline-block;
}
